@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;


  :root {
    font-family: 'Comfortaa', cursive;
  }

  .my-container{
    @apply px-4 py-3 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 
  }
  

  .my-btn-1{
    @apply bg-[#DB915E] lg:px-5 border-none hover:bg-[#708D77] ;
  }

  .my-btn-2{
    @apply bg-[#DB915E]  border-none hover:bg-[#708D77] 
  }


  .my-btn-3{
    @apply bg-[#DB915E] lg:px-5 py-2 border-none hover:bg-[#6E6E6E] ;
  }

  .my-btn-4{
    @apply bg-[#708D77] lg:px-5 border-none hover:bg-[#DB915E] ;
  }

  .my-btn-5{
    @apply bg-[#708D77] lg:px-5 border-none hover:bg-[#6E6E6E]

  }

  .my-btn-6{
    @apply bg-[#DB915E] lg:px-5 py-2 border border-[#708D77] hover:bg-[#6E6E6E] ;
  }

  .my-bg-1{
    @apply bg-[#DB915E]
  }
  .my-bg-2{
    @apply bg-[#c1dfda]
  }
  .my-bg-3{
    @apply bg-[#6E6E6E]
  }
  

  .my-text-1{
    @apply text-[#DB915E]
  }
  .my-text-2{
    @apply text-[#708D77]
  }
  .my-text-3{
    @apply text-[#D9BF8D]
  }
  

  .table-heading{
    @apply my-text-2 font-bold text-xl 
  }

  .table-row{
    @apply   border  border-solid border-[#708D77];
  }

  .active{
    @apply font-bold tracking-wide text-[#DB915E] transition-colors duration-200 underline text-lg
  }


  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
  }
  
  .animate-spin-slow-custom {
    animation: spin-slow 2s linear infinite;
  }

  @keyframes jump {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .animate-jump {
    animation: jump 1s ease-in-out infinite;
  }

  @keyframes jump-2 {
    0%{
      transform: translateY(0);
    }
    100%  {
      transform: translateY(-20px);
    }
  }

  .animate-jump-2 {
    animation: jump-2 2s ease-in-out infinite;
  }


  .zoom {
   
    transition: transform 1s; /* Animation */
   
  }
  
  .zoom:hover {
    transform: scale(1.1);
  }


  .custom-shape-divider-bottom-1684637567 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684637567 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 81px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1684637567 .shape-fill {
    fill: #FFFFFF;
}